#parallax_bg {
    inset: 0;
    position: fixed;
    top: 0;
    z-index: -1 !important;
    background: linear-gradient(
        0deg,
        var(--shade-color) 0%,
        var(--icon-color) 100%
    );
}

#parallax_bg > * {
    width: 100%;
    --icon-color: #fff;
}

#co_create {
    background: transparent !important;
    z-index: 1 !important;
}

.CC_title {
    font-size: 5rem;
    font-style: italic;
    color: white;
}

.CC_button {
    height: 100px;
}

.CC_button > input {
    margin: auto;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.CC_button > input:hover {
    padding: 15px 50px;
}

.down_img_out{
    bottom:30px;
}

.down_img_out + .down_img {
    rotate: 180deg;
}
