body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth !important;
    }
}

:root {
    --height: auto;
    --m-height: calc(100vh - 80px);
    --color: #1877f2;
    --shade-color: #8fbffe;
    --icon-color: #242DAE;
    font-size: 60%;
}

.container {
    height: var(--height);
    min-height: var(--m-height);
    padding: 40px 40px;
    transform-style: preserve-3d;
    position: relative;
    z-index:1;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.jc {
    justify-content: center;
}

.js {
    justify-content: flex-start;
}

.je {
    justify-content: flex-end;
}

.jsb {
    justify-content: space-between;
}

.jsa {
    justify-content: space-around;
}

.jse {
    justify-content: space-evenly;
}

.ac {
    align-items: center;
}

.as {
    align-items: flex-start;
}

.ae {
    align-items: flex-end;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

#Menu_underline {
    width: fit-content;
    background-image: linear-gradient(0deg, #000 0%, #000 100%);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: all 0.5s ease-in-out;
    padding-bottom: 1.5px;
    cursor: pointer;
}

#Menu_underline:hover {
    background-size: 100% 3px;
}
